*{
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

body{
    max-width: 775px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Lato, sans-serif;
}

:root{
    --clr-primary: #1a2b44;
    --clr-contrast: #a77252;
    --clr-white: #FFFFFF;
    --clr-light-grey: #DDD;
    --clr-pale-green: #8cb191;
    --clr-flashy-yellow: #fde035;
}

header{
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-white);
    padding: 10px 20px 10px 0;
}

.logo{
    width: clamp(130px, 20.8vw, 200px);
}

.logo img{
    width: 100%;
}

h1 .titre{
    font-size: clamp(2rem, 5.16vw, 2.5rem);
    text-align: right;
    line-height: 0.8;
    margin-bottom: 10px;
}

h1 .sous-titre{
    font-size: clamp(0.1rem, 3.1vw, 1.5rem);
    line-height: 0.1;
    display: flex;
    column-gap: 10px;
    row-gap: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

h1 .sous-titre p{
    margin: 0;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3{
    font-weight: 700;
    margin: 20px 0 10px 0;
    font-size: 1.2rem;
}

p{
    line-height: 1.4;
    margin-bottom: 5px;
}

ul{
    margin-left: 15px;
}

li{
    margin-bottom: 10px;
}

.scenario, .brief{
    margin: 0 10px;
}

.emphasis{
    font-weight: 700;
    color: var(--clr-primary);
}

.email{
    border: 1px solid black;
    margin-bottom: 10px;
}

.email .content {
    padding: 20px;
}

.email .header{
    background-color: var(--clr-light-grey);
    padding: 5px 20px;
}

.email .header p{
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 2px;
}

.illustration{
    max-width: 100%;
    margin: 30px 0;
}
